@charset "UTF-8";
/* sass styles/styles.scss:styles/styles.css --watch*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.16;
  font-weight: 300;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.3s;
  /* color: $main-color; */
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1220px;
  padding: 0 20px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header {
  background: linear-gradient(269.91deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%);
  padding: 26px 0;
  color: #FFFFFF;
  margin-bottom: 48px;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
}
.header__telephone {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 0.6;
}
.header__telephone-img {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
.header__telephone-text-span:not(:last-child) {
  margin-right: 12px;
}
.header__maps {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.06;
}
.header__maps-img {
  width: 15px;
  height: 25px;
  margin-right: 8px;
}
.header__inst {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
}
.header__inst-img {
  width: 30px;
  height: 28px;
  margin-right: 15px;
}

.header2 {
  /*
                      <div class="header2__nav">
                      <ul class="header2__nav-list">
                          <li class="header__nav-item">
                              <a href="#">отзывы</a>
                          </li>
                          <li class="header__nav-item">
                              <a href="#">что это?</a>
                          </li>
                          <li class="header__nav-item">
                              <a href="#">контакты</a>
                          </li>
                      </ul>
                  </div>
  */
}
.header2__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header2__logo {
  display: flex;
  align-items: center;
}
.header2__logo-img {
  width: 100px;
  height: 60px;
  margin-right: 11px;
}
.header2__logo-title {
  font-style: italic;
  font-weight: 900;
  font-size: 36px;
  line-height: 1.17;
}
.header2__nav {
  margin: 0 -12px;
}
.header2__nav-list {
  display: flex;
}
.header2__nav-item {
  padding: 0 12px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.17;
}
.header2__nav-link {
  color: #737373;
}

.main__wrap {
  display: flex;
}
.main__img {
  width: 533px;
  height: 686px;
}
.main__txt {
  border: 1px solid red;
  display: flex;
  align-items: center;
}
.main__txt-wrap {
  border: 1px solid blue;
}
.main__txt-heading {
  display: block;
  font-weight: 900;
  font-size: 50px;
  line-height: 1.18;
  margin-bottom: 10px;
}
.main__txt-subheading {
  border: 1px solid green;
  display: block;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.17;
  margin-bottom: 5px;
}
.main__txt-button {
  background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
  border-radius: 7px;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  border: none;
  color: #FFFFFF;
  padding: 15px 35px;
  cursor: pointer;
}

.footer {
  position: relative;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.14;
  color: #000000;
  border: 1px solid red;
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
  margin: 0 -70px;
  padding: 172px 84px 110px;
}
.footer__title {
  display: block;
  font-weight: 700;
  padding-bottom: 10px;
}
.footer__inst-img {
  width: 33px;
  height: 33px;
}
.footer__inst, .footer__telephone, .footer__about {
  width: 33.33%;
  padding: 0 70px;
}
.footer__decor-1 {
  position: absolute;
  left: 5%;
  top: 47%;
  transform: translate(-50%, -50%);
  width: 110px;
  height: 125px;
}
.footer__decor-2 {
  position: absolute;
  left: 90%;
  top: 47%;
  transform: translate(-50%, -50%);
  width: 233px;
  height: 264px;
}

/*# sourceMappingURL=styles.css.map */
